body{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1{
  color:#66BFBF;
  font-size:5.625em;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}



h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    font-weight:normal;
    padding-bottom:10px;
}

h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;

}

p{
  line-height: 2;
}

hr{
  border: dotted #1687a7;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{

  color:#;;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  text-align: center;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}



.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin:100px 0;

}



.bottom-container{
  background-color: #66BFBF;
  padding: 10px 0 20px;

}



.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;

}



.web{
  text-decoration: underline;
  color: #11999E;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}



.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}


.python-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 0px 0px 0px #666666;
  -webkit-box-shadow: 0px 1px 3px 8;
  -moz-box-shadow: 0px 1px 3px 8;
  box-shadow: 0px 1px 3px 8;
  font-family: 'Montserrat', sans-serif;
  color: #dde4eb;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
